@import "../variables";

/* Spinner loading: suffit d'ajouter: loading spinner */
@keyframes "spinner" {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes "spinner" {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* refresh loading: suffit d'ajouter: glyphicon-refresh-animate */
@keyframes "spin" {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes "spinw" {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes "spinm" {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.post-thumbnail{
  img{
    object-fit: cover;
    height: 383px;
  }
}

.img-thumb{
  object-fit: cover;
  max-height: 422px;
}

.homepage{
  .related-news-area .title{
    display: none;
  }
}

.password_profil {
  padding-left: 10px;
  list-style: none;
  font-size: 0.7em;
  color: $color_1;
  margin-bottom: 30px;
}
.form-error {
  color: $color_2;
  font-size: 0.8em;
  padding-left: 10px;
}
.password_repeat {
  clear: both;
}
.classy-navbar {
  .nav-brand {
    color: $color_3;
  }
}

.tags-category{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 15;
  width: 80%;
  text-align: right;
  align-content: inherit;
}

.post-catagory{
  margin-left: 5px;
  position: initial !important;
}

.classy-nav-container {
  a {
    &:hover {
      color: $color_4;
    }
    &:focus {
      color: $color_4;
    }
  }
  .classy-navbar {
    .classynav {
      ul {
        li {
          a {
            &:hover {
              color: $color_4;
            }
            &:focus {
              color: $color_4;
            }
          }
        }
        li.cn-dropdown-item {
          ul {
            li {
              a {
                &:hover {
                  color: $color_4;
                }
              }
            }
          }
        }
      }
    }
  }
}
.breadcrumb-image {
  background-image: url("/theme/img/bg-img/1.jpg");
}
.welcome-photo-first {
  background-image: url("/theme/img/bg-img/1.jpg");
}
.welcome-photo-second {
  background-image: url("/theme/img/bg-img/2.jpg");
}
.classynav {
  ul {
    li.active {
      a {
        &::before {
          background-color: $background_color_1;
        }
      }
    }
    li.has-down {
      >a {
        &::after {
          color: $color_4;
        }
      }
    }
    li.has-down.active {
      >a {
        &::after {
          color: $color_4;
        }
      }
    }
    li.megamenu-item {
      >a {
        &::after {
          color: $color_4;
        }
      }
    }
  }
}
.welcome-slides {
  .owl-prev {
    &:hover {
      background-color: $background_color_1;
    }
  }
  .owl-next {
    &:hover {
      background-color: $background_color_1;
    }
  }
}
.breakpoint-off {
  .classynav {
    ul {
      li {
        .dropdown {
          li {
            .dropdown {
              width: 200px;
            }
          }
          width: 190px;
        }
        .megamenu {
          width: 190px;
        }
      }
    }
  }
}
.single-post-area {
  .post-catagory {
    background-color: $background_color_1;
  }
  .post-content {
    .post-meta {
      a {
        &:hover {
          color: $color_4;
        }
        &:focus {
          color: $color_4;
        }
      }
    }
    .post-title {
      &:hover {
        color: $color_4;
      }
      &:focus {
        color: $color_4;
      }
    }
  }
  .post-thumbnail {
    max-height: 430px;
  }
}
#scrollUp {
  background-color: $background_color_1;
}
.alime-projects-menu {
  .portfolio-menu {
    .btn {
      &::after {
        background-color: $background_color_1;
      }
    }
  }
}
.single-portfolio-content {
  .hover-content {
    a {
      background-color: $background_color_1;
    }
  }
}
.footer-content {
  .copywrite-text {
    p {
      a {
        color: $color_4;
      }
    }
  }
}
button.mfp-close {
  background: $orange;
}
button.mfp-arrow {
  background: $orange;
}
.mfp-image-holder {
  .mfp-close {
    background: $orange;
  }
}
.breadcrumb-content {
  .breadcrumb {
    .breadcrumb-item {
      color: $color_4;
      a {
        &:hover {
          color: $color_4;
        }
      }
    }
  }
}
.alime-btn {
  border: 2px solid $orange;
  &:focus {
    background-color: $background_color_1;
  }
  &:hover {
    background-color: $background_color_1;
  }
}
.top-search-area {
  form {
    button {
      background-color: $background_color_1;
    }
  }
}
.breadcrumb-area.blog {
  .breadcrumb-content {
    .post-catagory {
      background-color: $background_color_1;
      &:hover {
        background-color: $background_color_1;
      }
      &:focus {
        background-color: $background_color_1;
      }
    }
    .post-meta {
      a {
        &:hover {
          color: $color_4;
        }
        &:focus {
          color: $color_4;
        }
      }
    }
    .date-meta {
      a {
        &:hover {
          color: $color_4;
        }
        &:focus {
          color: $color_4;
        }
      }
    }
  }
}
.badges-btn {
  &:hover {
    background-color: $background_color_1;
  }
  &:focus {
    background-color: $background_color_1;
  }
}
.fa {
  font-size: 20px;
  color: $color_5;
  min-width: 24px;
  margin-right: 20px;
  line-height: 40px;
}
.post-table {
  width: 100%;
  border-top: 1px solid rgba(50, 48, 69, 0.49);
  tr {
    border-bottom: 1px solid rgba(50, 48, 69, 0.49);
  }
}
.contact-area {
  .contact-title {
    font-size: 36px;
  }
  .header {
    margin: auto;
  }
}
.contact-content {
  padding: 0 50px;
}
.about-area {
  border-radius: 10px;
}
.about-me-icon {
  >i {
    font-size: inherit;
    margin-right: 0;
    color: $color_3;
  }
}
.connexion {
  .mail {
    float: right;
  }
  .mdp {
    float: right;
  }
  margin: auto;
  .submit {
    text-align: center;
  }
}
.profile {
  margin: auto;
}
.profile-content {
  h3 {
    font-size: 28px;
    text-transform: uppercase;
  }
}
.single-welcome-slide {
  background-color: $background_color_2;
}
.photo-detail {
  margin: auto;
  display: block;
  max-height: 400px;
  width: auto !important;
  height: auto;
}
.strength-meter {
  background: none !important;
  margin-left: 10px !important;
  border-width: 0px 0px 2px !important;
  margin-bottom: 15px;
  float: right;
}
.pswd {
  float: left;
  width: 85% !important;
}
.photo-detail-slide {
  height: auto !important;
}
.detail-slide {
  .owl-next {
    background-color: $background_color_1;
  }
  .owl-prev {
    background-color: $background_color_1;
  }
}
#alert-edit {
  display: none;
}

.breadcrumb-image.mail {
  height: 230px;

  .breadcrumb-content{
    margin-top: 0px;
  }
}

#alert-create{
  display:none;
}
#alert-password {
  display: none;
}

#alert-success{
  display: none;
}

#alert-send{
  display: none;
}

.alime-btn{
  &:before {
    border-top: 2px solid $orange !important;
  }
}

.alime-btn:hover{
  &:before {
    border-top: 2px solid white !important;
  }
}

.alime-btn:focus{
  &:before {
    border-top: 2px solid white !important;
  }
}

.alime-btn{
  &:before {
    border-top: 2px solid $orange !important;
  }
}

.loading {
  position: relative;
}
.spinner {
  min-width: 24px;
  min-height: 24px;
  &:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
  }
  &:not(:required) {
    &:before {
      content: '';
      border-radius: 50%;
      border-top: 2px solid white;
      border-right: 2px solid transparent;
      animation: spinner .6s linear infinite;
      -webkit-animation: spinner .6s linear infinite;
    }
  }
}
.glyphicon-refresh-animate {
  -animation: spin .8s infinite linear;
  -ms-animation: spin .8s infinite linear;
  -webkit-animation: spinw .8s infinite linear;
  -moz-animation: spinm .8s infinite linear;
}
.google-button {
  height: 40px;
  border-width: 0;
  color: $color_3;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  width: 250px;
  background: #E93F2E;
  &:focus {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  &:active {
    background-color: $background_color_3;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
.facebook-button {
  height: 40px;
  border-width: 0;
  color: $color_3;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  width: 250px;
  background: #3b5998;
}
.link-api {
  text-decoration: none !important;
  margin: auto;
}
.fa-google {
  color: $color_3;
  font-size: 29px;
  margin: auto;
}
.fa-facebook {
  color: $color_3;
  font-size: 29px;
  margin: auto;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  box-sizing: border-box;
  float: left;
  position: relative;
}
.facebook-button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  box-sizing: border-box;
  float: left;
  position: relative;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: $font_family_1;
  float: left;
  width: 80%;
  padding-left: 0;
  padding-right: 5px;
  margin-top: 4%;
}
.facebook-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: $font_family_1;
  float: left;
  width: 80%;
  padding-left: 0;
  padding-right: 5px;
  margin-top: 4%;
}
.login-other {
  width: 47%;
  margin: auto;
}
button {
  &~button {
    margin-left: 20px;
  }
}
.facebook {
  &:focus {
    .google-button {
      &:hover {
        box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
      }
    }
  }
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
}
.section-padding-20-80 {
  padding-top: 20px;
  padding-bottom: 80px;
}
