$orange: #fb9d79;
$dark-blue: #323045;
$dark-grey: #6c757d;
$color_1: $dark-grey;
$color_2: red;
$color_3: white;
$color_4: $orange;
$color_5: $dark-blue;
$font_family_1: 'Roboto',arial,sans-serif;
$background_color_1: $orange;
$background_color_2: white;
$background_color_3: #e93f2ede;
$white: #fff;
$blue: #01a9ac;