{% extends 'elements/layout/app/base.html.twig' %}

{% block title %}Photo'Vergnat - Photo en Auvergne Rhône-Alpes{% endblock %}

{% block body %}
    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <div class="single-welcome-slide bg-img bg-overlay welcome-photo-first">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Photo'Vergnat</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-welcome-slide bg-img bg-overlay welcome-photo-second">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Photo'Vergnat</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">Partez à la découverte de la région Auvergne Rhône-Alpes au travers de ma collection de photo !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Catégorie récente</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
