@import '../variables';

.main-body .page-wrapper .page-header-title span{
  text-transform: none !important;
}

.header-button{
  float: right;
}

.header-text{
  float: left;
}

.add{
  width: 55px;
  height: 40px;
}

#users-table{
  td:last-child{
    text-align: center;
  }

  td{
    vertical-align: middle;
  }

  .edit, .delete{
    width: 16px;
    height: 20px;
  }
}

/* Spinner loading: suffit d'ajouter: loading spinner */
.loading {
  position: relative;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spinner {
  to { -webkit-transform: rotate(360deg); }
}
.spinner {
  min-width: 24px;
  min-height: 24px;
}
.spinner:before {
  content:'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -10px;
}
.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-top: 2px solid white;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

/* refresh loading: suffit d'ajouter: glyphicon-refresh-animate */
.glyphicon-refresh-animate {
  -animation: spin .8s infinite linear;
  -ms-animation: spin .8s infinite linear;
  -webkit-animation: spinw .8s infinite linear;
  -moz-animation: spinm .8s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}
