<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Style -->
    <link rel="stylesheet" media="all" href="{{ app.request.getSchemeAndHttpHost() ~  asset('theme/style.css') }}">
    <link rel="stylesheet" media="all" href="{{ app.request.getSchemeAndHttpHost() ~  asset('build/app/app.css') }}">

    <style type="text/css">
        @media (min-width: 599px) {
            body{
                width: 65%;
                margin: auto;
            }
        }
    </style>
</head>

{% block body %}{% endblock %}

{% include 'elements/shared/app/footer.html.twig' %}
</body>
</html>
